$background-color:#0a0a0a;
$bgcolor-header-nav-footer:#000000;
$color1-bordes:#5f9ea0;
$color2-bordes:#F27649;
$color-texto:#ffffff;
$hover-card-productos:#3a3a3a;
$borde-compra-productos:#444444;
$color-texto-gris:#c0c0c0;
$color-texto-gris-ayuda:#949494;
$color-preguntas-ayuda:#7e7e7e;
$bg-instagram:#e4405f;
$bg-facebook:#3b5999;
$bg-whatsapp:#356b35;
$color-texto-footer:#7e7e7e;
$bordes-gris:#acacac;