@mixin section-productos($left,$margin-top,$margin-bottom){
    position: relative;
    left: $left;
    margin-top: $margin-top;
    margin-bottom: $margin-bottom;
}
@mixin titulo-productos($width,$left,$height,$font-size,$text-align){
    position: relative;
    width: $width;
    height: $height;
    left: $left;
    font-weight: 300;
    font-size: $font-size;
    text-align: $text-align;
    font-family: $font;
    color: $color-texto-gris;
}
@mixin card-contenedor($width,$height){
    display: grid;
    width: $width;
    text-decoration: none;
    border-radius: 0.4rem;
    height: $height;
    background-color: $background-color;
    border: $bordes $color2-bordes;
}
@mixin img-card($width,$border-top-left,$border-top-right){
    grid-area: img-card;
    width: $width;
    border-top-left-radius: $border-top-left;
    border-top-right-radius: $border-top-right;
}
@mixin precio-texto-cards($font-size,$font-weight){
    color: $color-texto-gris;
    font-family: $font;
    font-weight: $font-weight;
    font-size: $font-size;
}
@mixin texto-card($area-grid,$margin-top,$margin-left,$margin-right){
    grid-area: $area-grid;
    align-self: center;
    margin-top: $margin-top;
    margin-left: $margin-left;
    margin-right: $margin-right;
}
