.section-paginas-productos{
    @include section-paginas-productos(100%,75rem,11rem,2%);
    .grid-padre-productos{
        display: grid;
        @include section-paginas-productos(90%,70rem,0,5%);
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 37% 13%;
        grid-template-areas: 
                            "grid-img-productos grid-compra-productos"
                            "grid-descripcion-productos grid-pagos-productos"
                            "grid-descripcion-productos grid-garantia-productos";
        
        //grid img//
        .grid-img-productos{
            @include img-productos(80%);
        }
        //grid compra//
        .grid-compra-productos{
            @include grid-productos(grid-compra-productos,$bordes);
            .div-compra-titulo{
                @include div-productos(75%,5rem,10%,none,$bordes);
                .h2-titulo-producto{
                    @include texto-div(0.5rem,200,1.7rem,$color-texto-gris);
                }
            }
            .div-envio-compra{
                @include div-productos(75%,8rem,10%,none,$bordes);
                .envio-compra{
                    @include texto-div(2rem,300,1rem,$color1-bordes);
                }
                .modal-envio-compra{
                    @include modal-compra(2rem,1rem);
                }
                div{
                    div{
                        .modal-codigo-postal{
                            position: relative;
                            left: 2rem;
                            height: 9rem;
                            .input-codigo{
                                @include input-modal-postal(25rem,2rem,1.2rem);
                            }
                        }
                    }
                }
            }
            .div-precio-compra{
                @include div-productos(75%,11rem,10%,none,$bordes);
                .precio-compra{
                    @include texto-div(1.8rem,200,2rem,$color-texto-gris);
                }
                .p-cuotas-compra{
                    @include texto-div(2.5rem,200,1.1rem,$color-texto-gris-texto);
                    .strong-cuotas{
                        @include texto-div(0,300,1.1rem,$color2-bordes);
                    }
                }
                .medios-pago-compra{
                    @include modal-compra(3rem,1rem);
                }
                .div-botones-compra{
                    display: flex;
                    position: relative;
                    top: 6.5rem;
                    flex-direction: column;
                    .boton-comprar-ahora{
                        @include boton-compras(70%,2.5rem,0,15%,$color1-bordes);
                    }
                    .boton-agregar-carrito{
                        @include boton-compras(70%,2.5rem,1rem,15%,$color2-bordes);
                    }
                }
            }  
        }
        //grid pagos//
        .grid-pagos-productos{
            @include grid-productos(grid-pagos-productos,$bordes);
            .div-medios-pagos{
                @include div-productos(75%,100%,10%,$bordes,$bordes);
                .h3-medios-pagos{
                    @include texto-div(1rem,200,1.5rem,$color-texto-gris);
                }
                .h4-pagos{
                    @include texto-div(0,200,1.2rem,$color-texto-gris-texto);
                }
                .medio-credito{
                    position: relative;
                    top: 1.5rem;
                }
                .medio-debito{
                    position: relative;
                    top: 3.5rem;
                }
                .medio-efectivo{
                    position: relative;
                    top: 4.5rem;
                }
                .img-medios-pagos-credito{
                    position: relative;
                    top: 2rem;
                    width: 18rem;
                }
                .img-medios-pagos-debito{
                    position: relative;
                    top: 3.5rem;
                    width: 18rem;
                }
                .img-medios-pagos-efectivo{
                    position: relative;
                    top: 5rem;
                    width: 12rem;
                }
                .medios-pago-compra{
                    @include modal-compra(5.5rem,1rem);
                    left: 1.5rem;
                }
            }
        }
        //grid garantia//
        .grid-garantia-productos{
            @include grid-productos(grid-garantia-productos,$bordes);
            .div-garantia{
                @include div-productos(75%,100%,10%,none,none);
                top: 1rem;
                .h3-garantia{
                    @include texto-div(0,200,1.5rem,$color-texto-gris-texto);
                }
                .div-compra-protegida{
                    display: flex;
                    position: relative;
                    width: 95%;
                    top: 1rem;
                    .icon-compra-protegida{
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    .p-compra-protegida{
                        @include texto-div(0.7rem,200,1rem,$color-texto-gris-texto);
                        left: 1rem;
                    }
                }
            }
        }
        //grid descripcion//
        .grid-descripcion-productos{
            @include grid-productos(grid-descripcion-productos,none);
            .div-descripcion{
                @include div-productos(80%,20%,10%,$bordes,$bordes);
                .h3-titulo-descripcion{
                    @include texto-div(2.5rem,200,1.5rem,$color-texto-gris);
                    text-align: center;
                }
            }
            .div-p-descripcion{
                @include div-productos(80%,80%,10%,none,none);
                .p-descripcion{
                    @include texto-div(3rem,200,1.1rem,$color-texto-gris-texto);
                } 
            }
        }
    }
}