.section-productos{
    @include section-productos(3.5%,10rem,4rem);
    .titulo-productos{
        @include titulo-productos(96%,0,3.5rem,2.2rem,center);
        border-bottom: $bordes $color-texto-gris;
    }
    div{
        .div-row-productos{
            height: 84rem;
            .card-contenedor{
                @include card-contenedor(16rem,23rem);
                transition: 1s;
                grid-template-columns: 50% 50%;
                grid-template-rows: 70% 15% 15%;
                grid-template-areas: 
                                    "img-card img-card"
                                    "precio-card envio-card"
                                    "texto-card texto-card";
                    &:hover{
                        box-shadow: 2px 2px 20px $hover-card-productos;
                    }
                .img-card{
                    @include img-card(100%,0.4rem,0.4rem);
                }
                .precio-card{
                    @include precio-texto-cards(1.3rem,300);
                    @include texto-card(precio-card,0.5rem,1rem,0);
                }
                .envio-card{
                    @include precio-texto-cards(0.8rem,300);
                    @include texto-card(envio-card,0.5rem,0,1rem);
                    justify-self: end;
                    color: $color1-bordes;
                }
                .texto-card{
                    @include precio-texto-cards(1.1rem,200);
                    @include texto-card(texto-card,0,1rem,0);
                }        
            }
        }
    }
}
@media only screen and (min-width:1200px) and (max-width:1399px){
    .section-productos{
        @include section-productos(0,11rem,4rem);
        .titulo-productos{
            @include titulo-productos(86%,8.8%,3.5rem,2.1rem,center);
            border-bottom: $bordes $color-texto-gris;
        }
        div{
            .div-row-productos{
                position: relative;
                left: 5%;
                height: 120rem;
                width: 95%;
            }
        }
    }
}
@media only screen and (min-width:992px) and (max-width:1199px){
    .section-productos{
        @include section-productos(0,11rem,4rem);
        .titulo-productos{
            @include titulo-productos(90%,9%,3.5rem,2.1rem,center);
            border-bottom: $bordes $color-texto-gris;
        }
        div{
            .div-row-productos{
                position: relative;
                left: 5%;
                height: 120rem;
                width: 95%;
            }
        }
    }
}