.section-paginas-productos{
    @include section-paginas-productos(100%,131rem,6rem,0);
    .grid-padre-productos{
        display: grid;
        @include section-paginas-productos(100%,125rem,0,0);
        grid-template-columns: 100%;
        grid-template-rows: 22% 29% 21% 7% 22%;
        grid-template-areas: 
                            "grid-img-productos" 
                            "grid-compra-productos"
                            "grid-pagos-productos"
                            "grid-garantia-productos"
                            "grid-descripcion-productos";
        //grid img//
        .grid-img-productos{
            @include img-productos(76%);
        }
        //grid compra//
        .grid-compra-productos{
            @include grid-productos(grid-compra-productos,none);
            .div-compra-titulo{
                @include div-productos(90%,5rem,5%,none,$bordes);
                top: 1rem;
                .h2-titulo-producto{
                    @include texto-div(0.5rem,200,1.7rem,$color-texto-gris);
                }
            }
            .div-envio-compra{
                @include div-productos(90%,8rem,5%,none,$bordes);
                .envio-compra{
                    @include texto-div(2rem,300,1rem,$color1-bordes);
                }
                .modal-envio-compra{
                    @include modal-compra(2rem,1rem);
                }
                div{
                    div{
                        .modal-codigo-postal{
                            position: relative;
                            left: 10%;
                            height: 9rem;
                            .input-codigo{
                                @include input-modal-postal(80%,2rem,1.2rem);
                            }
                        }
                    }
                }
            }
            .div-precio-compra{
                @include div-productos(90%,11rem,5%,none,$bordes);
                .precio-compra{
                    @include texto-div(1.8rem,200,2rem,$color-texto-gris);
                }
                .p-cuotas-compra{
                    @include texto-div(2.5rem,200,1rem,$color-texto-parrafo);
                    .strong-cuotas{
                        @include texto-div(0,300,1rem,$color2-bordes);
                    }
                }
                .medios-pago-compra{
                    @include modal-compra(3rem,1rem);
                }
                .div-botones-compra{
                    display: flex;
                    position: relative;
                    top: 7rem;
                    flex-direction: column;
                    .boton-comprar-ahora{
                        @include boton-compras(70%,2.5rem,0,15%,$color1-bordes);
                    }
                    .boton-agregar-carrito{
                        @include boton-compras(70%,2.5rem,1rem,15%,$color2-bordes);
                    }
                }
            }  
        }
        //grid pagos//
        .grid-pagos-productos{
            @include grid-productos(grid-pagos-productos,none);
            .div-medios-pagos{
                @include div-productos(90%,100%,5%,$bordes,$bordes);
                .h3-medios-pagos{
                    @include texto-div(1rem,200,1.5rem,$color-texto-gris);
                }
                .h4-pagos{
                    @include texto-div(0,200,1.2rem,$color-texto-parrafo);
                }
                .medio-credito{
                    position: relative;
                    top: 1.5rem;
                }
                .medio-debito{
                    position: relative;
                    top: 3.5rem;
                }
                .medio-efectivo{
                    position: relative;
                    top: 4.5rem;
                }
                .img-medios-pagos-credito{
                    position: relative;
                    top: 2rem;
                    width: 18rem;
                }
                .img-medios-pagos-debito{
                    position: relative;
                    top: 3.5rem;
                    width: 18rem;
                }
                .img-medios-pagos-efectivo{
                    position: relative;
                    top: 5rem;
                    width: 11rem;
                }
                .medios-pago-compra{
                    @include modal-compra(5rem,1rem);
                    margin-top: 1rem;
                    left: 1rem;
                    display: block;
                }
            }
        }
        //grid garantia//
        .grid-garantia-productos{
            @include grid-productos(grid-garantia-productos,none);
            .div-garantia{
                @include div-productos(90%,100%,5%,none,$bordes);
                .h3-garantia{
                    @include texto-div(1rem,200,1.5rem,$color-texto-gris);
                }
                .div-compra-protegida{
                    display: flex;
                    position: relative;
                    width: 95%;
                    top: 1.5rem;
                    .icon-compra-protegida{
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    .p-compra-protegida{
                        @include texto-div(0.7rem,200,1rem,$color-texto-parrafo);
                        left: 1rem;
                    }
                }
            }
        }
        //grid descripcion//
        .grid-descripcion-productos{
            @include grid-productos(grid-descripcion-productos,none);
            .div-descripcion{
                @include div-productos(90%,20%,5%,none,$bordes);
                .h3-titulo-descripcion{
                    @include texto-div(2rem,200,1.4rem,$color-texto-gris);
                    text-align: center
                }
            }
            .div-p-descripcion{
                @include div-productos(90%,80%,5%,none,none);
                .p-descripcion{
                    @include texto-div(2rem,200,1rem,$color-texto-parrafo);
                } 
            }
        }
    }
}   
@media only screen and (max-width:425px){
    .section-paginas-productos{
        @include section-paginas-productos(100%,126rem,6rem,0);
        .grid-padre-productos{
            grid-template-rows: 20% 29% 21% 7% 24%;
            .grid-img-productos{
                width: 85%;
            }
        }
    }
}