.mobile{
    header{
        .nav{
            background-color:$bgcolor-header-nav-footer;
            div{
                a{
                    .logo-header-mobile{
                        @include logo-header(14rem,1.4rem,1rem);
                    }
                }
                .icon-menu-bordes{
                    position: relative;
                    left: 1rem;
                    width: 2.5rem;
                    height: 2.35rem;
                    .icon-menu{
                        width: 1.5rem;
                        position: relative;
                        right: 0.3rem;
                    }
                }
                div{
                    ul{
                        li{
                            .icon-usuario{
                                width: 4rem;
                            }  
                            .margin-ayuda{
                                margin-bottom: 2.5rem;
                            }
                        }
                        .menu{
                            @include menu-mobile(1.15rem,2rem);
                        }
                        .ayuda{
                            border-bottom: $bordes-gris $bordes;
                        }
                        .usuario-texto{
                            @include menu-mobile(0.85rem,1.5rem);
                            font-weight: 300;
                        }
                    }
                }
            }
        }
    }
}