//general//
.section-paginas-productos{
    @include section-paginas-productos(100%,72rem,10rem,0);
    .grid-padre-productos{
        display: grid;
        @include section-paginas-productos(100%,70rem,0,0);
        grid-template-columns: 50% 50%;
        grid-template-rows: 48% 38% 14%;
        grid-template-areas: 
                            "grid-img-productos grid-compra-productos"
                            "grid-descripcion-productos grid-pagos-productos"
                            "grid-descripcion-productos grid-garantia-productos";
        
        //grid img//
        .grid-img-productos{
            @include img-productos(90%);
        }
        //grid compra//
        .grid-compra-productos{
            @include grid-productos(grid-compra-productos,$bordes);
            .div-compra-titulo{
                @include div-productos(90%,5rem,5%,none,$bordes);
                .h2-titulo-producto{
                    @include texto-div(0.5rem,200,1.7rem,$color-texto-gris);
                }
            }
            .div-envio-compra{
                @include div-productos(90%,8rem,5%,none,$bordes);
                .envio-compra{
                    @include texto-div(2rem,300,1rem,$color1-bordes);
                }
                .modal-envio-compra{
                    @include modal-compra(2rem,1rem);
                }
                div{
                    div{
                        .modal-codigo-postal{
                            position: relative;
                            left: 2rem;
                            height: 9rem;
                            .input-codigo{
                                @include input-modal-postal(25rem,2rem,1.2rem);
                            }
                        }
                    }
                }
            }
            .div-precio-compra{
                @include div-productos(90%,11rem,5%,none,$bordes);
                .precio-compra{
                    @include texto-div(1.8rem,200,2rem,$color-texto-gris);
                }
                .p-cuotas-compra{
                    @include texto-div(2.5rem,200,1.1rem,$color-texto-gris-texto);
                    .strong-cuotas{
                        @include texto-div(0,300,1.1rem,$color2-bordes);
                    }
                }
                .medios-pago-compra{
                    @include modal-compra(3rem,1rem);
                }
                .div-botones-compra{
                    display: flex;
                    position: relative;
                    top: 5.7rem;
                    flex-direction: column;
                    .boton-comprar-ahora{
                        @include boton-compras(70%,2.5rem,0,15%,$color1-bordes);
                    }
                    .boton-agregar-carrito{
                        @include boton-compras(70%,2.5rem,1rem,15%,$color2-bordes);
                    }
                }
            }  
        }
        //grid pagos//
        .grid-pagos-productos{
            @include grid-productos(grid-pagos-productos,$bordes);
            .div-medios-pagos{
                @include div-productos(90%,100%,5%,$bordes,$bordes);
                .h3-medios-pagos{
                    @include texto-div(1rem,200,1.5rem,$color-texto-gris);
                }
                .h4-pagos{
                    @include texto-div(0,200,1.2rem,$color-texto-gris-texto);
                }
                .medio-credito{
                    position: relative;
                    top: 1.5rem;
                }
                .medio-debito{
                    position: relative;
                    top: 3.5rem;
                }
                .medio-efectivo{
                    position: relative;
                    top: 4.5rem;
                }
                .img-medios-pagos-credito{
                    position: relative;
                    top: 2rem;
                    width: 18rem;
                }
                .img-medios-pagos-debito{
                    position: relative;
                    top: 3.5rem;
                    width: 18rem;
                }
                .img-medios-pagos-efectivo{
                    position: relative;
                    top: 5rem;
                    width: 12rem;
                }
                .medios-pago-compra{
                    @include modal-compra(5.5rem,1rem);
                    left: 1.5rem;
                }
            }
        }
        //grid garantia//
        .grid-garantia-productos{
            @include grid-productos(grid-garantia-productos,$bordes);
            .div-garantia{
                @include div-productos(90%,100%,5%,none,none);
                top: 1rem;
                .h3-garantia{
                    @include texto-div(0,200,1.5rem,$color-texto-gris);
                }
                .div-compra-protegida{
                    display: flex;
                    position: relative;
                    width: 95%;
                    top: 1rem;
                    .icon-compra-protegida{
                        width: 2.4rem;
                        height: 2.4rem;
                    }
                    .p-compra-protegida{
                        @include texto-div(0,200,1rem,$color-texto-gris-texto);
                        left: 1rem;
                    }
                }
            }
        }
        //grid descripcion//
        .grid-descripcion-productos{
            @include grid-productos(grid-descripcion-productos,none);
            .div-descripcion{
                @include div-productos(90%,20%,5%,$bordes,$bordes);
                .h3-titulo-descripcion{
                    @include texto-div(2.5rem,200,1.5rem,$color-texto-gris);
                    text-align: center
                }
            }
            .div-p-descripcion{
                @include div-productos(90%,80%,5%,none,none);
                .p-descripcion{
                    @include texto-div(3rem,200,1.1rem,$color-texto-gris-texto);
                } 
            }
        }
    }
}

@media only screen and (min-width:576px) and (max-width:767px){
    .section-paginas-productos{
        position: relative;
        height: 130rem;
        margin-top: 8rem;
        .grid-padre-productos{
            display: grid;
            position: relative;
            width: 100%;
            height: 125rem;
            grid-template-columns: 100%;
            grid-template-rows: 21% 29% 20% 8% 22%;
            grid-template-areas: 
                                "grid-img-productos" 
                                "grid-compra-productos"
                                "grid-pagos-productos"
                                "grid-garantia-productos"
                                "grid-descripcion-productos";
            .grid-img-productos{
                @include img-productos(75%);
            }
            .grid-compra-productos{
                @include grid-productos(grid-compra-productos,none);
                .div-compra-titulo{
                    top: 1rem;
                }
                .div-precio-compra{
                    .div-botones-compra{
                        display: flex;
                        position: relative;
                        top: 6.5rem;
                        flex-direction: column;
                        .boton-agregar-carrito{
                            @include boton-compras(70%,2.5rem,2rem,15%,$color2-bordes);
                        }
                    }
                }  
            }
            .grid-pagos-productos{
                @include grid-productos(grid-pagos-productos,none);
                .div-medios-pagos{
                    .img-medios-pagos-debito{
                        top: 3.5rem;
                        width: 20rem;
                    }
                }
            }
            .grid-garantia-productos{
                @include grid-productos(grid-garantia-productos,none);
                .div-garantia{
                    @include div-productos(90%,100%,5%,none,none);
                    .h3-garantia{
                        @include texto-div(1rem,200,1.5rem,$color-texto-gris);
                    }
                    .div-compra-protegida{
                        top: 2.5rem;
                        .p-compra-protegida{
                            @include texto-div(0.7rem,200,1rem,$color-texto-gris-texto);
                        }
                    }
                }
            }
            //grid descripcion//
            .grid-descripcion-productos{
                .div-descripcion{
                    @include div-productos(90%,20%,5%,$bordes,$bordes);
                    .h3-titulo-descripcion{
                        @include texto-div(1.7rem,200,1.5rem,$color-texto-gris);
                        text-align: center
                    }
                }
            }
        }
    }    
}
