@media only screen and (min-width:576px) and (max-width:767px){
    .section-productos{
        @include section-productos(0,9rem,3rem);
        .titulo-productos{
            @include titulo-productos(99.5%,0,3.5rem,1.9rem,center);
            border-bottom: $bordes $color-texto-gris;
        }
        div{
            .div-row-productos{
                position: relative;
                height: 83rem;
                .card-contenedor{
                    @include card-contenedor(9.5rem,18rem);
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 60% 5% 35%;
                    grid-template-areas: 
                                        "img-card img-card"
                                        "precio-card envio-card"
                                        "texto-card texto-card";
                                        
                    .img-card{
                        @include img-card(100%,0.4rem,0.4rem);
                    }
                    .precio-card{
                        @include precio-texto-cards(1.2rem,300);
                        @include texto-card(precio-card,0,1rem,0);
                    }
                    .envio-card{
                        @include precio-texto-cards(0.8rem,300);
                        @include texto-card(envio-card,0,0,0.3rem);
                        color: $color1-bordes;
                        justify-self: end;
                    }
                    .texto-card{
                        @include precio-texto-cards(1rem,200);
                        @include texto-card(texto-card,0.5rem,0rem,0);
                        text-align: center;
                    }        
                }
            }
        }
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .section-productos{
        @include section-productos(0,8rem,4rem);
        .titulo-productos{
            @include titulo-productos(99%,0,3.5rem,2rem,center);
            border-bottom: $bordes $color-texto-gris;
        }
        div{
            .div-row-productos{
                position: relative;
                height: 95rem;
                .card-contenedor{
                    @include card-contenedor(13rem,20rem);
                    grid-template-columns: 50% 50%;
                    grid-template-rows: 70% 15% 15%;
                    grid-template-areas: 
                    "img-card img-card"
                    "precio-card envio-card"
                    "texto-card texto-card";
                    .img-card{
                        @include img-card(100%,0.4rem,0.4rem);
                    }
                    .precio-card{
                        @include precio-texto-cards(1.2rem,300);
                        @include texto-card(precio-card,0.5rem,1rem,0);
                    }
                    .envio-card{
                        @include precio-texto-cards(0.8rem,300);
                        @include texto-card(envio-card,0.5rem,0,1rem);
                        color: $color1-bordes;
                        justify-self: end;
                    }
                    .texto-card{
                        @include precio-texto-cards(1rem,200);
                        @include texto-card(texto-card,0,1rem,0);
                    }        
                }
            }
        }
    }
}